<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="favicon.png" type="image/x-icon">
<title>Dark Serve - Success</title>
<link rel="stylesheet" href="support.css">
</head>
<body>
    <div class="hero">
        <div class="hero-child-1">
            <img src="success.png" alt="">
        </div>
        <div class="hero-child-2">
            <h2>Registration Complete</h2>
        </div>
    </div>
</body>
</html>